@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');

body{
    margin: 0;
    background: #000;
    font-family: 'Oswald', sans-serif;
}

.post-page{
    display: flex;
    width: 100%;
    height: 100vh;
}

img{
    width: 50%;
    height: 100vh;
    object-fit: cover;
}
.post{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.post-title{
    color: rgb(210, 210, 39);
    text-align: center;
    font-size: 28px;
    font-weight: 600;
}

.post-body{
    font-size: 22px;   
    text-align: center;
}

.post-author, .post-email, .post-phone{
    align-self: end;
    font-size: 24px;
    margin: 0 5% 0 0;
}

@media screen and (max-width: 750px) {
    .post-page{
        flex-direction: column;
    }

    img{
        width: 100%;
    }

    .post{
        width: 100%;
    }

    .post-author, .post-email, .post-phone{
        font-size: 20px;
    }

    .post-phone{
        margin-bottom: 2rem;
    }
}